{% extends 'sith_app/base.html'%}
{% load bootstrap4 %}
{% block container %}
<div>
    <table class="table">

        <thead class="thead-dark">
        <tr>
            <th scope="col">Ситх</th>
            <th scope="col">Тестовое испытание</th>
            <th scope="col">Правильные ответы</th>
            <th scope="col">Ответы ситха {{sith.username}}</th>
        </tr>
        </thead>
        {% for sith in not_shadow_hand %}
        <tr>
            <td>{{sith.username}}</td>
            <td>{{sith.question_set.code}}</td>
            <td>{{sith.question_set.question_answers}}</td>
            <td>{{sith.answers}}</td>
        </tr>
        {% endfor %}
    </table>

    <form class="form" action="{% url 'sith:sith_list' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form choice_form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Выбрать</button>
        {% endbuttons %}
    </form>
    <a class="btn btn-primary" href="{% url 'main:main' %}">На Главную</a>
</div>
{% endblock %}
